* { box-sizing: border-box; }
#form {
  display: flex;
  flex-direction: column;
}

body{margin: 15px;
font-family:Helvetica,Arial,sans-serif;
font-size:  14px;
line-height: 1.5;
letter-spacing: 0.5px;
}

input,
select
{
width: 100%;
padding:8px; margin:5px 5px 5px 5px;
border: 1px solid grey;
border-radius:5px;
display: block;
}

button,
input[type=submit],
input[type=button]
{
color:white; background:skyblue;
border: 1px solid transparent;
cursor:pointer;
}

button:hover,input[type=submit]:hover,input[type=button]:hover{background:aqua; }

ul {margin: 0; padding: 0; list-style-type:none;}
li {padding: 0; left:0; }

table {border-collapse:collapse; border-spacing:1px; width:50%; color: #000;}
table th, table td { border:none; text-align:left; padding:1px; }
table tr { background:#f8f8f8; }
table tr:nth-child(even){ background:#fff;}
table th { height:30px; }
